In [ ]:
#1. Write a Python program to check if a given number is even or odd.
number = int(input())
checker = number % 2

if checker > 0:
  print("The number is ODD")
else:
  print("The number is EVEN")

1421321
The number is ODD

In [ ]:
#Create a function that takes a list of numbers and returns the sum of all elements in the list.
list = []

while True:
  element = input("Input an element: ")
  if element.lower() == "stop":
    break
  list.append(element)
print(f"The list are {list}")

Input an element: 1
Input an element: 2
Input an element: 3
Input an element: 4
Input an element: 5
Input an element: Stop
The list are ['1', '2', '3', '4', '5']

In [ ]:
#factorial
n = int(input("factorial of "))
fact = 1

for i in range (1, n+1):
  fact = fact * i

print(f"is: {fact}")

factorial of : 3
is: 6

In [ ]:
#per element
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [ ]:
#per char
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
# in range (start, limit, skipping)
for x in range (1, 11, 2):
  print(x)

1
3
5
7
9

In [ ]:
#try